html {
  font-family: 'Times New Roman', Times, serif;
  font-size: 62.5%;
}

p, ul, ol, dl {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 12px;
}

article {
  max-width: 620px;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Ubuntu, Arial, sans-serif;
}

h1 {
  font-size: 2.7rem;
  line-height: 3.1rem;
  margin: 20px 0;
}

h2 {
  font-size: 2rem;
  line-height: 2.4rem;
  margin: 16px 0;
}

h3 {
  font-size: 1.75rem;
  margin: 25px 0 8px 0;
}

.byline{
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}

.credit{
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  text-indent: 428px;
}


blockquote {
  border-left: 4px grey solid;
  padding: 20px;
  margin-left: 30px;
}

.inside {
list-style-position: inside;
}

span {
  font-style: italic;
}

#comment-notes {
  background-color: #ccc;
  padding: 12px;
}
